## Toronto_Neighborhoods ##  

This is the project for Week 3 of the Applied Data Science Capstone course.

  ### Part 1 ###  

The submission for this course is in 3 parts. They are all contained in this notebook. In this part we download and clean the Canadian postal code data for Toronto.

In [1]:
import numpy as np
import pandas as pd

In [101]:
postal_codes = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
type(postal_codes)

list

The download is a list with more than one dataframe. After looking at the entire list (not shown here) we pick the one we want.

In [102]:
postal_df = postal_codes[0]
postal_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Delete Boroughs that are not assigned.

In [103]:
temp_df = postal_df
temp_df = temp_df[temp_df.Borough != "Not assigned"]
temp_df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Group the data by postal code.

In [104]:
grouped = temp_df.groupby('Postcode')

Create a new dataframe with combined neighborhood values.

In [107]:
df = grouped.agg({'Neighbourhood': lambda x: ','.join(x) })
df.head()

                                 Neighbourhood
Postcode
M1B                              Rouge,Malvern
M1C       Highland Creek,Rouge Hill,Port Union
M1E            Guildwood,Morningside,West Hill
M1G                                     Woburn
M1H                                  Cedarbrae

Merge the new dataframe with the old one.

In [109]:
temp = pd.merge(df,temp_df,on="Postcode")[["Postcode","Borough","Neighbourhood_x"]].drop_duplicates()
temp.head()

  Postcode      Borough                       Neighbourhood_x
0      M1B  Scarborough                         Rouge,Malvern
2      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
5      M1E  Scarborough       Guildwood,Morningside,West Hill
8      M1G  Scarborough                                Woburn
9      M1H  Scarborough                             Cedarbrae

Rename the columns, and reset the index.

In [120]:
new_df = temp.rename(columns={'Postcode': 'PostalCode', 'Borough': 'Borough', 'Neighbourhood_x': 'Neighborhood' })

new_df.reset_index(drop=True,inplace=True)

new_df.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

Find neighborhoods that are not assigned values.

In [121]:
new_df[new_df.Neighborhood == "Not assigned"]

   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Not assigned

Change not assigned neighborhoods to the borough value.

In [122]:
new_df.Neighborhood[new_df.Neighborhood == "Not assigned"] = (
  new_df.Borough[new_df.Neighborhood == "Not assigned"])

new_df[new_df.PostalCode == 'M7A']

   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Queen's Park

In [123]:
new_df.shape

(103, 3)

### Part 2 ###